/*Checkbox*/

.mails-checkbox {
  padding-left: 1.25em;
}

.mails-checkbox__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.mails-checkbox__alternative-drawing {
  margin-left: -1.25em;
  position: absolute;
  margin-top: 0px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.mails-checkbox__checkbox:checked + .mails-checkbox__alternative-drawing {
  background-image: url("./../images/icon.svg");
  background-size: 16px 16px;
}

.mails-checkbox__checkbox:focus + .mails-checkbox__alternative-drawing {
  border: 1px solid red;
}

.mails-checkbox__checkbox:checked:focus + .mails-checkbox__alternative-drawing {
  border: 1px solid red;
  background-image: url("./../images/icon.svg");
  background-size: 16px 16px;
}

.mails-checkbox__checkbox:disabled + .mails-checkbox__alternative-drawing {
  background-color: #9b9b9b;
}

.mails-checkbox__checkbox:checked:disabled + .mails-checkbox__alternative-drawing {
  background: #9b9b9b url("./../images/icon.svg");
}

/* Hide text*/
.text_hide-by-size {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Mails */
.mail {
  top: -40px;
  position: relative;
  white-space: nowrap;
  border-bottom: 2px solid #f0f0f0;
}

.mail_offset-40px {
  top: 0;
}

.create-animation {
  top: 0;
  transition: all 2s;
}

.mail_status_not-read {
  color: #000;
  font-family: HelveticaNeueLight, Arial;
  font-size: 13px;
  font-weight: 700;
}

.mail_status_read {
  color: #000;
  font-family: HelveticaNeueLight, Arial;
  font-size: 13px;
}

.mail__item {
  display: inline-block;
  position: relative;
  margin-top: 5px;
}

.mail__select {
  bottom: 10px;
  margin-left: 20px;
  font-size: 19px;
  font-weight: 500;
}

.mail__logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.mail__title {
  min-width: 160px;
  width: 19.63%;
  bottom: 6px;
}

.mail__text-message {
  min-width: 215px;
  width: 40%;
  bottom: 6px;
}

.mail_status_read .mail__text-message {
  padding-left: 12px;
}

.mail_status_not-read .mail__text-message:before {
  content: ' ';
  display: inline-block;
  color: white;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10'%3E%3Ccircle cx='5' cy='5' r='5' fill='%236287bd' /%3E%3C/svg%3E ");
}

.mail__receive-time {
  min-width: 40px;
  width: 4.97%;
  top: 10px;
  float: right;
  font-family: HelveticaNeueLight, Arial;
  color: #9b9b9b;
  font-weight: 500;
}
