.mail-header {
  position: relative;

  height: 32px;
  letter-spacing: -1em;
}

.mail-header__menu,
.mail-header__logo,
.mail-header__search {
  display: inline-block;
  vertical-align: middle;
}

.mail-header__menu {
  margin-top: -6px;
}

.mail-header__logo {
  margin-left: 11px;
}

.mail-header__search {
  position: absolute;
  right: 179px;
  left: 184px;

  margin-left: 114px;
}
