.message-menu__link {
  display: inline;
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
  color: #cccccc;
  cursor: pointer;
}

.message-menu__text {
  display: inline-block;
  height: 40px;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 500;
}

.message-menu {
  display: inline-block;
  height: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  vertical-align: top;
}
