.mail-main {
  position: absolute;
  top: 42px;
  right: 10px;
  bottom: 4px;
  left: 18px;

  margin-top: 13px;
}

.mail-main__nav,
.mail-main__letter-box {
  display: inline-block;
  vertical-align: top;
}

.mail-main__write-button,
.mail-main__nav-list {
  white-space: normal;
}
