.content-footer-text__text-endline {
  height: 12px;
  margin-right: 45px;
  color: #9b9b9b;
  float: right;
  font-family: HelveticaNeueLight;
  font-size: 11px;
  line-height: 40px;
}

.content-footer-text_unhighlight {
  color: inherit;
}

.content-footer-text__del-line {
  text-decoration: none;
}
