.buttons-list {
  height: 100%;
  list-style-type: none;
}

.buttons-list__element {
  padding: 2% 10% 3% 10px;
  border-radius: 3px;
  color: #707070;
  font-family: HelveticaNeue, sans-serif;
  font-size: 11px;
  font-weight: 500;
}

.buttons-list__element:hover {
  background-color: #cdd6e4;
  color: #555555;
  font-weight: 700;
}

.buttons-list__element_new-message-button {
  padding-top: 3%;
  padding-bottom: 4%;
  margin-bottom: 5%;
  background-color: #6287bd;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.buttons-list__element_new-message-button:hover {
  background-color: #4e72a6;
  color: #fff;
}
