.letter-list {
  position: absolute;
  top: 40px;
  bottom: 25px;

  overflow: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.letter-list__letter {
  z-index: 1;
  list-style-type: none;
}
