/*LEFT PANEL*/
.left-panel {
    float: left;
    width: 147px;
    margin-right: 22px;
    white-space: normal;
}

.compose {
    width: 147px;
    height: 32px;
    border-radius: 3px;
    background-color: #6287bd;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    display: block;
    border-color: transparent;
    cursor: pointer;
}

.compose:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
}

.folders-panel {
    font-size: 11px;
    margin-top: 8px;
    padding-left: 0;
}

.folders-panel__folder {
    padding: 5px 10px;
    position: relative;
    display: block;
}

.folders-panel__folder:hover {
    border-radius: 3px;
    background-color: #cdd6e4;
    font-weight: bold;
    color: #555555;
}

.folders-panel__folder_link-decoration {
    color: #707070 !important;
    text-decoration: none;
}
