.letters__letterbox_wrapper {
	display: table-row;
	width: 100%;
	height: 100%;
}

.letters__letterbox_relative_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.letters__letterbox {
	display: table;
	width: 100%;
}

.letter {
	position: absolute;
	overflow-y: scroll;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#show_letter {
	display: none;
}

.close_letter {
	float: right;
	padding-top: 10px;
	padding-right: 20px;
	font-size: 40px;
}

.letter_text {
	padding-right: 40px;
}

#show_letter:checked + .letter {
	z-index: 2;
}