.header__search_wrap {
	vertical-align: top;
	display: table-cell;
	text-align: center;
	height: 100%;
	width: 100%;
}

.header__search {
	height: 100%;
	border-width: 0px;
	width: 50%;
	min-width: 500px;
	font-family: "YS Text - Regular";
	font-size: 15px;
	padding-left: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	opacity: 0.5;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

.header__search_clear {
	margin-left: -25px;
	width: 12px;
	height: 12px;
	font-size: 12px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
}