.inbox__message {
  position: relative;

  height: 40px;

  border-bottom: solid 1px #e2e2e2;
  animation: flash 1s ease 1;

  cursor: pointer;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
