.letters {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    height: 100%;
    min-height: 500px;
    max-height: calc(48px * 30 + 29px);
    overflow: hidden;
    padding-bottom: 48px;
    position: relative;
}