.LetterBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 159px;

  display: inline-block;
  overflow: hidden;
  min-width: 700px;
  min-height: 350px;
  margin: 0 10px 10px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
  font-family: 'Helvetica Neue', monospace;
  vertical-align: top;
}

.LetterBox__Hr {
  margin: 0;
  opacity: 0.4;
}

.LetterBox__SupportLine {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.SupportLine {
  padding: 5px 20px;
  font: 11px 'Helvetica Neue Light', monospace;
  text-align: right;
}

.SupportLine__Item {
  display: inline-block;
  margin-left: 35px;
  color: #9e9e9e;
  font-weight: 700;
  vertical-align: center;
}

.Toolbar {
  padding: 10px 20px;
  margin: 0;
  font-size: 13px;
}

.Toolbar__Item {
  display: inline-block;
  margin-left: 25px;
  color: #ccc;
  font-weight: 500;
  list-style-type: none;
}

.Toolbar__Item_first {
  display: inline-block;
  margin-right: -5px;
  list-style-type: none;
}

.Toolbar__Button {
  padding: 0;
  margin: 0;

  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}
