.toolbar {
  padding: 0 20px;
  margin: 0;
  font-size: 13px;
}

.toolbar__item {
  display: inline-block;
  line-height: 39px;
  list-style-type: none;
}

.toolbar__item:first-child {
  margin-right: -5px;
}

.toolbar__item:not(:first-child) {
  margin-left: 25px;
  color: #ccc;
  font-weight: 500;
}

.toolbar__button {
  padding: 0;
  margin: 0;

  border: none;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.toolbar__button_is-active {
  color: #000;
  cursor: pointer;
}
