.toolbar {
  padding: 10px 20px;
  margin: 0;
  font-size: 13px;
}

.toolbar__item {
  display: inline-block;
  list-style-type: none;
}

.toolbar__item:first-child {
  margin-right: -5px;
}

.toolbar__item:not(:first-child) {
  margin-left: 25px;
  color: #ccc;
  font-weight: 500;
}

.toolbar__button {
  padding: 0;
  margin: 0;

  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.toolbar__button:hover {
  color: #000;
}

.toolbar__button:disabled {
  color: inherit;
}
