.app {
  display: grid;

  width: 100%;
  min-width: 800px;
  height: auto;
  min-height: 100vh;

  box-sizing: border-box;

  padding: 12px 40px 30px 20px;
  margin: 0;

  background-color: #e5eaf0;

  grid-column-gap: 25px;
  grid-row-gap: 20px;

  grid-template-areas:
    'header header'
    'sidebar content';

  grid-template-columns: 150px 1fr;
  grid-template-rows: 32px minmax(400px, auto);
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
