.Content {
  position: absolute;
  top: 56px;
  left: 22px;
  width: 98%;
  height: 92%;
  min-width: 800px;
  min-height: 600px;
}

.Content__left-toolbar {
  position: absolute;
}

.mail-toolbar {
  width: 147px;
}

.mail-toolbar__button {
  height: 32px;
  width: 100%;
  border: 0;
  box-shadow: none;
  font-size: 12px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: #6287bd;
}

.mail-toolbar__element {
  text-decoration: none;
  height: 2em;
  font-size: 11px;
  display: block;
  margin-top: 4px;
  padding-left: 10px;
  padding-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #707070;
}

.mail-toolbar__element:hover  {
  font-weight: bold;
  color: #555;
  border-radius: 3px;
  background-color: #cdd6e4;
}
