.main {
  display: grid;
  height: auto;

  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);

  grid-template: 42px auto 35px / 1fr;
  grid-template-areas:
    'actions'
    'content'
    'footer';
}

.actions {
  border-bottom: 1px solid #e2e2e2;
  grid-area: actions;
}

.content {
  grid-area: content;
}

.footer {
  border-top: 1px solid #e2e2e2;
  grid-area: footer;
}
