.footer {
  width: 100%;
  height: 31px;

  border-top: 2px solid #e2e2e2;
}

.footer__info {
  position: relative;
  top: 50%;

  display: inline;
  margin-right: 20px;
  color: #ccc;
  float: right;
  font-family: HelveticaNeue, sans-serif;
  font-size: 11px;
  transform: translateY(-55%);
}
