.logo {
  width: 153px;
  height: 31px;
}

.logo__yandex {
  position: relative;
  left: -153px;

  display: inline-block;
  width: 83px;
  height: 31px;
}

.logo__mail {
  position: relative;
  left: -153px;

  display: inline-block;
  width: 70px;
  height: 31px;
}
