.Logo__Title {
    float: left;
    margin-left: 11px;
}

.Logo__Burger {
    float: left;

    height: 20px;
    width: 20px;
    display: block;
    margin-top: 5px;
}

.Logo__Burger::before,
.Logo__Burger-1,
.Logo__Burger::after {
    display: block;
    margin-bottom: 5px;
    content: "";
    background: #000;
    width: 20px;
    height: 3px;
}
