.Mail {
    border-bottom: 1px solid #e2e2e2;
}

.Mail__Checkbox:checked + .MailTitle_Unread,
.Mail__Checkbox:checked + .MailTitle_Read,
.Mail__Checkbox {
    display: none;
}

.Mail__Checkbox:checked + .MailTitle_Unread + .MailArticle,
.Mail__Checkbox:checked + .MailTitle_Read   + .MailArticle {
    display: block;
}
