.mail {
    border-bottom: 1px solid #e2e2e2;
}

.mail__checkbox:checked + .mail-title,
.mail__checkbox {
    display: none;
}

.mail__checkbox:checked + .mail-title + .mail-article {
    display: block;
}
