@font-face {
  font-family: YandexSansBold;
  src: url('../static/fonts/YandexSansDisplay-Bold.ttf');
}

@font-face {
  font-family: YandexSansThin;
  src: url('../static/fonts/YandexSansDisplay-Thin.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('../static/fonts/HelveticaNeueCyr-Medium.otf');
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url('../static/fonts/HelveticaNeueCyr-Light.otf');
}

ul {
  list-style-type: none;
}

a,
a:active,
a:visited,
a:hover {
  color: unset;
  text-decoration: none;
  position: unset !important;
}

.content_inline {
  display: inline;
}

.content_text-overflow_hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__ya-services-popup img {
  position: relative;
  bottom: 3px;
  vertical-align: bottom;
}

.content {
  position: relative;
  width: 80%;
  min-width: 800px;
  min-height: 100%;
  margin: 0 auto;
}
