body {
  font-family: "Helvetica Neue", "Arial" "Serif";
  min-width: 800px;
  margin: 0 auto;
  background-color: #e5eaf0;
  position: relative;
  min-height: 100vh;
}

body > .mail-box {
  position: absolute;
  left: 191px;
  top: 56px;
}
