.letter {
  width: 100%;
  height: 37px;

  border-bottom: solid 1px #e2e2e2;
}

.letter__animated-add-letter {
  animation-duration: 2s;
  animation-name: add-new-letter;
}

.letter__animated-delete-letter {
  animation-duration: 1s;
  animation-name: delete-letter;
}

.letter__checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin-top: 11px;
  margin-left: 20px;

  border: solid 1px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
  background-color: #ffffff;
  border-radius: 3px;
  outline: none;
  vertical-align: top;
}

.letter__checkbox:checked {
  display: inline-block;
  background: #e2e2e2;
  background-clip: content-box;
}

.letter__del-line {
  text-decoration: none;
}

.letter__y-logo {
  display: inline-block;
  width: 37px;
  margin-left: 10px;
  border-radius: 50%;
}

.letter_is-bold {
  font-weight: bold;
}

.letter__text-sender-letter {
  display: inline-block;
  overflow: hidden;
  width: 20%;
  height: 15px;
  margin-top: 12px;
  margin-left: 10px;
  color: #000000;
  font-family: HelveticaNeue;
  font-size: 13px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.letter__text-letter {
  display: inline-block;
  overflow: hidden;
  width: 40%;
  height: 15px;
  margin-top: 12px;
  margin-left: 10px;
  color: #000000;
  font-family: HelveticaNeue;
  font-size: 13px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.letter__mark-new-letter {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 14px;
  margin-left: 20px;
  background-color: #6287bd;
  border-radius: 50%;
  vertical-align: top;
}

.letter__data {
  width: 8%;
  height: 15px;
  margin-top: 11px;
  margin-right: 20px;
  color: #9b9b9b;
  float: right;
  font-family: HelveticaNeue;
  font-size: 13px;
  text-align: right;
}

@keyframes delete-letter {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

@keyframes add-new-letter {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
