header {
  margin-left: 22px;
  height: 56px;
  position: relative;
}

.service-logo {
  position: relative;
  cursor: pointer;
  top: 12px;
  height: 45px;
  width: 180px;
}

.service-logo__menu-img {
  width: 27px;
  height: 27px;
  top: 4px;
  position: absolute;
}

.service-logo__logo {
  width: 150px;
  height: 31px;
  left: 35px;
  position: relative;
}

.service-logo__company-img {
  width: 70px;
  height: 100%;
  position: absolute;
}

.service-logo__service-img {
  width: 70px;
  height: 100%;
  left: 80px;
  position: absolute;
}
