.Header {
    padding: 11px 0 13px 0;

    overflow: hidden;
}

.Header__LogoWrapper {
    float: left;
}

.Header__SearchWrapper {
    height: 32px;
    overflow: hidden;
}

.Header__SearchWrapper1 {
    height: 32px;
    width: 52%;
    margin: auto;
}
