.header {
    padding: 11px 0 13px 0;

    overflow: hidden;
}

.header__logo-wrapper {
    float: left;
}

.header__search-wrapper {
    height: 32px;
    overflow: hidden;
}

.header__search-wrapper1 {
    height: 32px;
    width: 52%;
    margin: auto;
}
