header {
  margin-left: 22px;
  height: 56px;
  position: relative;
}

.service-logo {
  position: relative;
  cursor: pointer;
  top: 12px;
  height: 45px;
  width: 180px;
}

.service-logo__menu-img {
  width: 27px;
  height: 27px;
  top: 4px;
  position: absolute;
}
.service-logo__logo-img {
  width: 150px;
  height: 31px;
  left: 31px;
  position: absolute;
  color: #010101;
  font-size: 25px;
}
