.letter {
  width: 100%;
  min-width: 574px;
  min-height: 415px;
}

.letter__close-img {
  width: 9px;
  height: 9px;
  margin-top: 10px;
  margin-left: 10px;
  opacity: 0.15;
}

.letter__my-article {
  display: inline-block;
  width: calc(100% - 50px);
  min-width: 520px;
  margin-left: 20px;
  font-size: 13px;
}

.letter__image {
  width: 140px;
  margin-right: 1px;
  float: left;
  shape-outside: circle(50%);
}

#close {
  display: inline-block;
  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  vertical-align: top;
}
