.mail-article__clearfix:before,
.mail-article__clearfix:after {
  content: "";
  display: table;
}

.mail-article__clearfix:after {
  clear: both;
}

.mail-article__cross {
    float: right;
    cursor: pointer;
    margin: 5px 5px auto auto;
}

.mail-article__cross:hover {
    background: #e0e0e0;
}

.mail-article {
    display: none;
    padding: 10px;
}
