.MailArticle__Clearfix:before,
.MailArticle__Clearfix:after {
  content: "";
  display: table;
}
 
.MailArticle__Clearfix:after {
  clear: both;
}

.MailArticle__Cross {
    float: right;
    cursor: pointer;
    margin: 5px 5px auto auto;
}

.MailArticle__Cross:hover {
    background: #e0e0e0;
}

.MailArticle {
    display: none;
    padding: 10px;
}