.folders-list {
  margin-top: 12px;
}

.selected {
  border-radius: 4px;
  background-color: #cdd6e4;
  color: #555;
  font-weight: 700;
}

.folders-list__folder {
  height: 14px;
  padding: 5px 10px;
  color: #707070;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folders-list__folder:hover {
  border-radius: 4px;
  background-color: #d8e1ef;
  cursor: pointer;
}

.selected:hover {
  background-color: #cdd6e4;
}
