.content-messages__message{
  position: relative;
  height: 37px;
  line-height: 37px;
  font: 13px HelveticaNeue;
  color: #000000;
  border-bottom: solid 1px #e2e2e2;
  vertical-align: middle;
}

.content-messages__message:hover{
  background-color: #cdd6e4;
}

.message_unread{
  font-weight: bold;
}

.message__message-select{
  margin: 0;
  margin-left: 20px;
}

.message-open{
  position: unset;
}

.message__elem{
  display: inline-block;
  height: 37px;
  line-height: 37px;
  vertical-align: middle;
}

.message__author-avatar{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.message__author-name{
  width: 150px;
}

.message__mark-as-read-tick{
  width: 10px;
  height: 10px;
  margin-left: 69px;
  margin-right: 15px;
  background-color: #6287bd;
  border-radius: 10px;
}

.message__message-subject{
  width: 75%;
}

.message__message-receive-time{
  position: relative;
  margin-right: 20px;
  float: right;
  width: fit-content;
  max-width: 60px;
  text-align: right;
  color: #9b9b9b;
  font-weight: normal;
}
