.inbox__header-button {
  margin-top: 7px;
  margin-left: 20px;

  border: none;
  background: unset;
  color: #ccc;
  float: left;
  font-size: 14px;
  font-weight: 500;
}

.inbox__header-button:hover {
  color: #000;
  cursor: pointer;
}
