.letter__unread-indicator {
  position: absolute;
  top: calc(50% - 5px);

  width: 10px;
  height: 10px;
  margin-left: 260px;
  border-radius: 50%;
}

.letter__unread-indicator_active {
  background-color: #6287bd;
}
