.letter__icon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #ff3333;
  border-radius: 50%;
  color: white;
  float: left;
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}
