.menu__button {
  width: 100%;
  height: 22px;
  padding: 0 7px;
  margin-bottom: 3px;

  border: none;
  background: none;
  border-radius: 3px;
  color: #707070;
  font-family: HelveticaNeue-Medium, sans-serif;
  font-size: 11px;
  text-align: start;
}

.menu__button:hover {
  background-color: #cdd6e4;
  cursor: pointer;
}
