.menu__button-current {
    width: 100%;
    height: 22px;
    border-radius: 3px;
    background-color: #cdd6e4;
    text-align: start;
    font-family: HelveticaNeue-Bold, sans-serif;
    font-size: 11px;
    margin-bottom: 3px;
    border: none;
    color: #555555;
}

.menu__button-current:hover {
    cursor: pointer;
}