.header__search-bar {
  width: 35%;
  margin-left: 12.5%;

  display: inline-block;
  height: 34px;
  padding-left: 16px;
  padding-right: 10px;

  font: 15px "Helvetica Neue", sans-serif;
  line-height: 2;
  color: #000;
  background: rgba(242, 244, 247, 1);
  border-width: 0;
  box-shadow: inset 0 0 0 1px rgba(217, 219, 222, 1);
}

.header__search-bar::placeholder {
  color: #727477;
}
