.Search {
    overflow: hidden;
}

.Search__Field {
    border: 0;
    display: block;
    font-size: 15px;
    height: 32px;
    width: 45%;
    margin: auto;
    text-indent: 16px;
    padding-right: 5%;
    opacity: 0.5;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-image: url('../../resources/cross.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
    background-color: #fff;
}
