#nav-bar {
  padding: 0;
  margin-top: 0;
}

#nav-bar li {
  height: 22px;
  padding-left: 10px;
  margin-left: 0;
  line-height: 22px;
  text-align: left;
}

#nav-bar li:hover {
  background-color: #cdd6e4;
}
