.top-bar {
  position: relative;

  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: solid 1px #e2e2e2;
}

.horizontal-nav-panel {
  position: relative;
  left: 20px;

  margin: auto;
  list-style-type: none;
}

.horizontal-nav-panel__item {
  margin-right: 25px;
  float: left;
}

.horizontal-nav-panel__button {
  border-style: none;
  background-color: #fff;
  color: #ccc;
  cursor: pointer;
  font: 13px 'Helvetica Neue', sans-serif;
  outline: none;
}

.checkbox {
  width: 16px;
  height: 16px;
}

.top-bar__checkbox {
  position: relative;

  display: inline-block;
  margin-left: 2%;
  float: left;
}
