.mailbox__mail {
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: #cccccc;
  border-bottom: 1px solid #e2e2e2;
  overflow-y: hidden;
}

.mailbox__mail-element {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.mail__pic {
  margin-right: 10px;
}

.pic__img {
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.mail__author {
  width: 155px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.mail__title {
  color: black;
  padding-left: 10px;
  box-sizing: border-box;
  width: calc(100% - 355px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mail__new {
  font-weight: 700;
}

.mail__dot {
  visibility: hidden;
  width: 10px;
  height: 10px;
  background-color: #6287bd;
  border-radius: 50%;
}

.mail__new .mail__dot {
  visibility: visible;
}

.mail__time {
  float: right;
  text-align: right;
  width: 50px;
  font-weight: 500;
  margin-right: 20px;
  color: #969799;
}

@keyframes collapse {
  to {
      height: 0px;
      border: none;
  }
}

.mailbox__mail[data-state="collapsed"] {
  animation: collapse 0.4s 1 ease-out forwards;
}

.mailbox__mail[data-state="hidden"] {
  height: 0px;
  border-width: 0px;
}

@keyframes appearance {
  from {
      height: 0px;
      background-color: #6287bd;
  }
  to {
      height: 40px;
      background-color: white;
  }
}

.mailbox__mail[data-state="appearing"] {
  animation: appearance 0.4s 1 ease-out forwards;
}
