.letters-window__header {
  height: 6.25%;
}

.letters-window__header::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.letters-window__header-button {
  display: inline-block;
  height: 100%;
  padding: 0;

  border-style: none;
  background-color: #fff;
  color: #b6b6b6;
  font: 13px 'Helvetica Neue', sans-serif;
  letter-spacing: normal;
  outline: none;
  vertical-align: middle;
}

.letters-window__header-button:hover {
  color: #000;
  cursor: pointer;
}

.letters-window__header-button + .letters-window__header-button {
  margin-left: 20px;
}
