body {
  background-color: #e5eaf0;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: YandexSansBold;
  src: url('resources/fonts/YandexSansDisplay-Bold.ttf');
}

@font-face {
  font-family: YandexSansThin;
  src: url('resources/fonts/YandexSansDisplay-Thin.ttf');
}

@font-face {
  font-family: YandexSansLight;
  src: url('resources/fonts/YandexSansDisplay-Light.ttf');
}

@font-face {
  font-family: YandexSansRegular;
  src: url('resources/fonts/YandexSansDisplay-Regular.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('resources/fonts/HelveticaNeueCyr-Medium.otf');
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url('resources/fonts/HelveticaNeueCyr-Light.otf');
}
