@import url(./app/fonts/fonts.css);
@import url(./app/css/animation.css);
@import url(./app/css/common-styles.css);

body {
  min-width: 630px;
  margin: 0;
  background-color: #e5eaf0;
  font-family: Arial, Helvetica, sans-serif;
}
