.footer {
    display: inline-block;
    bottom: 0;
    width: 100%;
    text-align: right;
  border-top: 2px solid #e6e6e6;
}

.footer_link {
    font-size: 11px;
    line-height: 30px;
    color: #9b9b9b;
    padding-right: 15px;
    text-decoration: none;
}
