.content-menu {
  width: 100%;
  height: 38px;

  border: solid 0px;
  border-bottom-width: 2px;
  border-bottom-color: #e2e2e2;
}

.content-menu__check {
  display: none;
}

.content-menu__check-view {
  position: relative;
  top: 50%;
  left: -11px;

  margin-left: 31px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  float: left;
  transform: translateY(-50%);
}

.content-menu__check:checked + label {
  background: rgba(0, 0, 0, 0.15);
}

.content-menu__button {
  position: relative;
  top: 50%;

  display: inline;
  margin-left: 26px;
  color: #ccc;
  float: left;
  font-family: HelveticaNeue, sans-serif;
  font-size: 13px;
  font-weight: 500;
  transform: translateY(-50%);
}

.content-menu__button:hover {
  color: #bdb9b9;
  font-weight: 700;
}

.content-menu__button_first {
  margin-left: 0px;
}
