.footer {
  overflow: hidden;
  width: 100%;
  height: 30.5px;
  box-sizing: border-box;
  padding: 0 20px;

  border-top: solid 1px #e2e2e2;
}

.messages-container__footer {
  float: bottom;
}

.footer__item {
  margin-right: 20px;
  color: #9b9b9b;
  float: right;
  font: 11px Arial, sans-serif;
  line-height: 30.5px;
}

.footer__item_last {
  margin-right: 0;
}

.footer__item-link {
  color: #9b9b9b;
  text-decoration: none;
}

.footer__item-link:hover {
  color: black;
}
