.nav {
  width: 147px;
  font-family: 'Helvetica Neue', sans-serif;
}

.nav__list {
  padding: 0;
  margin: 8px 0 0 0;
  word-wrap: break-word;
}

.nav__item {
  min-height: 14px;
  color: #707070;
  font-size: 11px;
  list-style-type: none;
}

.nav__item-link {
  display: block;
  width: 87%;
  padding: 5px 10px;
  color: #707070;
  cursor: pointer;
  text-decoration: none;
}

.nav__item_type_link {
  display: block;
  width: 87%;
  padding: 5px 10px;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.nav__item:hover {
  background-color: #d8e1ef;
  border-radius: 3px;
}

.nav__item_select {
  background-color: #cdd6e4;
  border-radius: 3px;
  color: #555;
  font-weight: 700;
}
