.LetterDialog {
  position: absolute;
  top: 40px;
  bottom: 25px;

  overflow: auto;

  width: 100%;
  background-color: white;
}

.LetterDialog__Content {
  padding: 20px;
  font-family: 'Helvetica Neue', monospace;
  white-space: normal;
}

.LetterDialog__Exit {
  margin: -5px 5px 0 0;
  color: #808080;
  cursor: pointer;
  float: right;
  font-size: 35px;
}

.LetterDialog__Exit:hover {
  background-color: crimson;
}

.LetterDialog_Visible {
  z-index: 1721;
}
