.check__input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.check__box {
  display: inline-block;
  width: 52px;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
}

.check__box::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.check__box-border {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 20px;
  border-radius: 1px;
  box-shadow: 0 0 0 1px #e2e2e2;
  vertical-align: middle;
}

.check__input:checked + .check__box .check__box-border {
  background-image: url('../../../../images/checkMark.svg');
}
