.mail-footer {
  position: relative;
  margin-top: -5px;
  padding-top: 5px;
  width: 100%;
  height: 30px;
  text-align: right;
  border-top: 1px solid #cccccc;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.mail-footer__item-link {
  outline: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.footer-item {
  padding: 21px;
  font-size: 12px;
  font-weight: 400;
  color: #9b9b9b;
}
