.mail-navigation-wrapper {
  width: 100%;
  height: 40px;
  display: table;
  border-bottom: solid 1px #e2e2e2;
}

.mail-navigation {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.mail-nav-bnt {
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}
